Brotli
cachetools
certifi
chardet
click
dash
dash-bio
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
future
futures
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
packaging
pandas
plotly
protobuf
pyasn1
pyasn1-modules
pymongo[srv]
dnspython
pyparsing
python-dateutil
pytz
requests
retrying
rsa
six
uritemplate
urllib3
